@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: url(images/background_.jpg) no-repeat center center;
      background-size: cover;
      background-position: center;

}
.container{
      width: 400px;
      height: 100px;
      background-color: rgba(255, 255, 255, .1);
      backdrop-filter: blur(30px);
      padding: 20px;
      border: 2px solid rgba(255, 255, 255, .2);
      color: #fff;
      border-radius: 15px;
      transition: height .6s ease;
}
.search-box {
      position: relative;
      display: flex;
      align-items: center;
      height: 55px;
      width: 100%;
      
}
.search-box input{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0px 48px 0 42px;
      background: transparent;
      border-radius: 10px;
      font-size: 22px;
      color: #fff;
      border: 2px solid rgba(255, 255, 255, .2);
      outline: none;
      font-weight: 500;
      text-transform: uppercase;


}
.search-box i{
      position: absolute;
      left: 10px;
      font-size: 28px;
      
      
}
.search-box button{
      position: absolute;
      right: 0;
      width: 40px;
      height: 100%;
      border: none;
      outline: none;
      font-size: 28px;
      background: transparent;
      color: #fff;
      padding: 0 40px 0 5px;
      cursor: pointer;
}
.search-box input::placeholder{
      font-size: 22px;
      text-transform: capitalize;
      color: #fff;
}
.weather-box {
      text-align: center;
      margin: 40px 0;
}
.weather-box img{
      width: 60%;
}
.weather-box .temperature{
      font-size: 64px;
      line-height: 1;
      font-weight: 700;
}
.temperature span{
      position: absolute;
      font-size: 24px;
      margin-left: 5px;
}
.description{
      font-size: 22px;
      font-weight: 500;
}
     
.weather-detail{
      display: flex;
      bottom: 40px;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 20px;
}
.humidity , .wind{
      display: flex;
      align-items: center;
      width: 50%;
      /* transform: translateY(-100%); */
}

.humidity.active , .wind.active{
      transform: translateY(0%);
      transition: transform 1s ease;
      transition-delay: 1.2s;
}

.weather-detail i{
      font-size: 56px;
      margin-right: 10px;
}
.weather-detail span{
      font-size: 22px;
      display: inline-block;
      font-weight: 500;
}
.weather-detail p {
      font-size: 14px;
      font-weight: 500;
}
.weather-detail .humidity {
      padding-left: 20px;
      justify-content: flex-start
}

.weather-detail .wind {
      padding-right: 20px;
      justify-content: flex-end;
}

.weather-box ,.weather-detail ,.not-found{
      overflow: hidden;
      visibility: hidden;
}
.weather-box.active ,.weather-detail.active ,.not-found.active{
      visibility: visible;
}

.weather-box .box, .not-found .box{
      transform: translateY(-100%);
}
.weather-box.active .box, .not-found.active .box{
      transform: translateY(0%);
      transition: transform 1s ease;
      transition-delay: .6s;
}
.not-found {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      margin-top: 90px;
      width: 100%;
      
}

.not-found img {
      width: 60%;
}

.not-found p{
      font-size: 22px;
      font-weight: 500;
}